div#id01.w3-modal
  div.w3-modal-content
    header.w3-container.w3-teal
      span.w3-button.w3-display-topright(onclick="document.getElementById('id01').style.display='none'") &times;
      h2 Додати нового користувача
    div.w3-container
      form(action="/add-user" method="post")
        p
          label(for="second_name") Прізвище:
          br
          input#second_name(type="text" name="second_name" required)
        p
          label(for="name") Ім'я:
          br
          input#name(type="text" name="name" required)
        p
          label(for="middle_name") По-батькові:
          br
          input#middle_name(type="text" name="middle_name" required)
        p
          button.w3-button.w3-black(type="submit") Додати користувача



